/* styles/style.css */

body{
    background-color: var(--background-body);

    color: var(--color-txt);
}

header{
    color: var(--color-txt);
}

h1{
    color: var(--color1);
}

h2{
    color: var(--color2);
}

h3{
    color: var(--color-txt);
}

p{
    color: var(--color-txt);
}

p#stronger{
    font-size: 1.3em;
    color: green;
}

p#weaker{
    color: orange;
}

/** Background */
.st-emotion-cache-13k62yr{
    background-color: var(--background-body);
}

/** Top-bar */
.st-emotion-cache-h4xjwg{
    background-color: var(--color3);
}

/** Sidebar */
[data-testid=stSidebar] {
    background-color: var(--color3);
    color: var(--color-txt);
    border: 1px solid gray;
}

/* close sidebar */
[Data-testid=stSidebarCollapseButton]{
    color: var(--color-txt);
}

/* open sidebar */
[Data-testid=baseButton-headerNoPadding]{
    color: var(--color-txt);
}

/* Sidebar header */
[Data-testid=stSidebarHeader]{
    padding: 0.7rem 1.5rem 0.7rem;
    border-bottom: 1px solid gray;
}

/* Selectbox */
.stSelectbox:first-of-type > div[data-baseweb="select"] > div {
    background-color: var(--background-body);
    color: var(--color-txt);
}

/* Selectbox arrow */
[data-baseweb="icon"]{
    color: var(--color-txt);
}

.stSelectbox:first-of-type > div[data-baseweb="select"] > div:hover{
    background-color: gray;
}

/* Selectbox -> bar */
.st-cu{
    background:linear-gradient(to right, rgba(172, 177, 195, 0.25) 0%, rgba(172, 177, 195, 0.25) 0%, var(--color2) 0%, var(--color2) 100%, rgba(172, 177, 195, 0.25) 100%, rgba(172, 177, 195, 0.25) 100%);
}

/* Selectbar -> min & max points */
.st-emotion-cache-1vzeuhh{
    color: var(--color2);
    background-color: var(--color2);
}

/* Selectbar -> actual value txt */
[data-testid=stThumbValue]{
    color: var(--color2);
}